 <div class="row">
  <div class="label">Event</div>
  <div class="field">
        <select name="entity.event.id">
                      <option value="">(None)</option>              
        %{ models.Event.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.event?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.event')}</span>
</div>
 <div class="row">
  <div class="label">Hash</div>
  <div class="field">
      <input type="text" name="entity.hash" value="${entity?.hash}"/>
  </div>
  <span class="error">${errors.forKey('entity.hash')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

