#{extends 'main.html' /}
<h2>Voters</h2>
<table class="entity Voter">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Event</th>
				<th>Hash</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Voters.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Voters.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Voters.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.event}</td>
					<td>${entity.hash}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Voters.create}">Create</a>

