*/.DS_Store

**/.DS_Store

.DS_Store

vcards/test/single.vcf

vcards/test/group.vcf

**/.DS_Store

**/nbproject

**/data/attachments/*

**/tmp/*

**/db/*
**/modules/*
vcards/logs/system.out

vidr/data/upload/*

vidr/data/storage/*

vcards/modules/paginate-head/commands.pyc
