#{extends 'main.html' /}
#{set title:'VCards index' /}
<script type="text/javascript">
    var listAction = #{jsAction @_show(':uid')  /};
    function load(id){
        $('#result').load(
            listAction({uid: id}),
            function() {
                $('#content').css('visibility', 'visible')
            }
        )
    }

</script>
#{paginate.controls items:paginator /}
<hr />
<ul style="float:left">
    #{paginate.list items:paginator, as:'card'}
    <li><a href="javascript:load(${card.id})">${card}</a></li>
    #{/paginate.list}
</ul>
<div style="max-width: 75%;padding:10px;float:left" id="result">

</div>
<div style="clear:both"></div>
<hr />
#{paginate.controls items:paginator /}
