 <div class="row">
  <div class="label">Value</div>
  <div class="field">
      <input type="text" name="entity.value" value="${entity?.value}"/>
  </div>
  <span class="error">${errors.forKey('entity.value')}</span>
</div>
 <div class="row">
  <div class="label">Vote</div>
  <div class="field">
        <select name="entity.vote.id">
                      <option value="">(None)</option>              
        %{ models.Vote.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.vote?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.vote')}</span>
</div>
 <div class="row">
  <div class="label">Description</div>
  <div class="field">
      <input type="text" name="entity.description" value="${entity?.description}"/>
  </div>
  <span class="error">${errors.forKey('entity.description')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

