 <div class="row">
  <div class="label">Session</div>
  <div class="field">
        <select name="entity.session.id">
                      <option value="">(None)</option>              
        %{ models.Session.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.session?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.session')}</span>
</div>
 <div class="row">
  <div class="label">Voter</div>
  <div class="field">
        <select name="entity.voter.id">
                      <option value="">(None)</option>              
        %{ models.Voter.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.voter?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.voter')}</span>
</div>
 <div class="row">
  <div class="label">Comment</div>
  <div class="field">
      <input type="text" name="entity.comment" value="${entity?.comment}"/>
  </div>
  <span class="error">${errors.forKey('entity.comment')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

