#{extends 'main.html' /}
<h2>Videos</h2>
<table class="entity Video">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Filename</th>
				<th>Duration</th>
				<th>Width</th>
				<th>Height</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Videos.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Videos.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Videos.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.filename}</td>
					<td>${entity.duration}</td>
					<td>${entity.width}</td>
					<td>${entity.height}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Videos.create}">Create</a>

