 <div class="row">
  <div class="label">Name</div>
  <div class="field">
      <input type="text" name="entity.name" value="${entity?.name}"/>
  </div>
  <span class="error">${errors.forKey('entity.name')}</span>
</div>
 <div class="row">
  <div class="label">Location</div>
  <div class="field">
      <input type="text" name="entity.location" value="${entity?.location}"/>
  </div>
  <span class="error">${errors.forKey('entity.location')}</span>
</div>
 <div class="row">
  <div class="label">Start Date</div>
  <div class="field">
      <script type="text/javascript">
        $(function() {
          $("#startDate").datepicker({ dateFormat: 'yy-mm-dd' } );
        });
      </script>
      <!-- TODO: date format needs to come from application.conf -->
      <input id="startDate" type="text" name="entity.startDate" 
        value="${entity?.startDate?.format('yyyy-MM-dd')}"
        size="10" />
  </div>
  <span class="error">${errors.forKey('entity.startDate')}</span>
</div>
 <div class="row">
  <div class="label">End Date</div>
  <div class="field">
      <script type="text/javascript">
        $(function() {
          $("#endDate").datepicker({ dateFormat: 'yy-mm-dd' } );
        });
      </script>
      <!-- TODO: date format needs to come from application.conf -->
      <input id="endDate" type="text" name="entity.endDate" 
        value="${entity?.endDate?.format('yyyy-MM-dd')}"
        size="10" />
  </div>
  <span class="error">${errors.forKey('entity.endDate')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

