#{extends 'main.html' /}
<h2>View Event</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			location:
		</span>
		<span class="value">
      ${entity.location}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			startDate:
		</span>
		<span class="value">
      ${entity.startDate}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			endDate:
		</span>
		<span class="value">
      ${entity.endDate}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Events.index}">Back</a>

