 <div class="row">
  <div class="label">Event</div>
  <div class="field">
        <select name="entity.event.id">
                      <option value="">(None)</option>              
        %{ models.Event.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.event?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.event')}</span>
</div>
 <div class="row">
  <div class="label">User</div>
  <div class="field">
        <select name="entity.user.id">
                      <option value="">(None)</option>              
        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
          %{
            selected = false;
            if (entity?.user?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
  </div>
  <span class="error">${errors.forKey('entity.user')}</span>
</div>
 <div class="row">
  <div class="label">Voted</div>
  <div class="field">
      <input type="checkbox" name="entity.voted"
        ${entity?.voted ? 'checked':''}
      />
  </div>
  <span class="error">${errors.forKey('entity.voted')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

