#{extends 'main.html' /}
<h2>Attendees</h2>
<table class="entity Attendee">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Event</th>
				<th>User</th>
				<th>Voted</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Attendees.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Attendees.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Attendees.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.event}</td>
					<td>${entity.user}</td>
					<td>${entity.voted}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Attendees.create}">Create</a>

