#{extends 'main.html' /}
<h2>View Attendee</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			event:
		</span>
		<span class="value">
      ${entity.event}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			user:
		</span>
		<span class="value">
      ${entity.user}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			voted:
		</span>
		<span class="value">
      ${entity.voted}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Attendees.index}">Back</a>

